.home-container {
    margin: 40px; 
}

.home-content {
    border-radius: 20px;
    padding: 155px 100px 155px 100px;
}

.text-title {
    margin: 0;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    font-weight: 700;
}

.text-subtitle {
    display: flex;
    justify-content: space-between;
    width: 400px;
    color: var(--green-color-logo);
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    margin-top: 50px;
    margin-bottom: 150px;
    text-transform: uppercase;
}

.text-subtitle h1 {
    margin: 0;
}

.main-image {
    width: 100%;
}