@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  font-family: "Luckiest Guy", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #000;
  color: #fff;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}