@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --green-color-logo: #17ffc2;
  --navbar-color: #020617;
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #111827;
  color: #fff;
}

ol, ul, li {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited,
a:hover {
  color: unset;
  text-decoration: none;
}